@use '../_editor-theme' as *;

root {
    position: absolute;
    left: 100px;
    top: 44px;
    bottom: 264px;
    width: 230px;
    background-color: $panel;
    border-right: 1px solid $border;
    box-sizing: border-box;
}

.tree {
    width: 230px;
    flex-grow: 1;
    overflow: auto;
    gap: 1px;
}
